@model  pageLudo.Models.UserHandlingModel

@{ Page.Title = "Users"; }

@section head {
    @Scripts.Render("~/bundles/jquery")
}

<h2>List of Users</h2>
@Html.Partial("UsersView", Model.List, new ViewDataDictionary<IEnumerable<pageLudo.Models.UserHandlingData>>(Model.List))




