
@{
    ViewBag.Title = "Ludo";
}

@if (Session["LogedUserID"] != null)
{
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}

<h2>Ki nevet a végén?</h2>
<br />
<h4>Történelem</h4>
<article>
    A Ki nevet a végén? egy táblás, kockadobásos társasjáték, amely Magyarországon az 1960-as évek közepén jelent meg, elsősorban kisebb gyerekek részére. Azóta számtalan különféle kiadást megért, gyakran Ludo néven, esetleg valami egyéb fantázianéven.

    A játék legismertebb neve, a "Ki nevet a végén?" egy szólásra utal: "Az nevet legjobban, aki utoljára nevet." Ez a játékhoz úgy kapcsolódik, hogy ha egy játékos már közel van a célhoz, még mindig leütheti egy másik játékos, és kezdheti az utat elölről. Ugyanezt a mondanivalót tartalmazza a játék egy korábbról ismert neve: Ne nevess korán![1]

    A játék az indiai parcheesi vagy pachisi (ejtsd: parcsízi, pacsíszi) játékból ered, feltételezések szerint a 6. századbeli Kör és kereszt játék módosulásaként, amely Koreában Junnori néven ismert.
</article>
<br />
<h4>Játékszabály</h4>
<article>
    Egy játékosnak négy azonos színű bábuja van, ezeket kezdés előtt a pályán kivül kijelölt helyekre kell tenni.

    A játék célja mind a négy figurát a pályán körbejáratva eljuttatni a pálya közepén levő kis területre, amelynek neve ház.

    A játékosok egy kockával dobnak.

    Egy bábut az azonos színnel jelölt startmezőn át kell játékba hozni, itt nyíl is mutatja a haladás irányát. A játékba hozásra akkor van lehetőség, ha a játékos 6-ost dob. A bábut a színes mezőre kell helyezni, ilyenkor a játékos még egyet dobhat. Ha a startmezőn saját bábu áll, akkor oda nem tehető ki újabb bábu. 6-os dobás esetén nem kötelező pályán kívül levő bábut játékba hozni

    A játékos a dobás után a bábujával a megfelelő számú mezőt lép menetirányba. Amikor több bábuja van a pályán, akkor a játékos eldöntheti, hogy melyikkel lép. A bábuk átugorhatják egymást, de az átugrott mező is beleszámít a lépésbe. Ha egy bábu körbeért a pályán, akkor a saját startmezője előtt befordul az azonos színű kerti útra, és halad a ház felé. Amelyik bábu beért a házba, az nem lép többet.

    A játékos nem léphet a bábujával úgy, hogy végül olyan mezőn álljon meg, amelyen saját bábuja van. Ha nincs más lépéslehetősége, akkor a játékos nem lép.

    Ha a játékos egy bábuval olyan mezőre lép, amelyen egy másik színű bábu van, akkor azt a bábut kiüti, és azt a megfelelő színű, pályán kívüli várakozóhelyre kell visszatenni, és a szabály szerint kell újra játékba hozni. A "kerti úton" haladó bábu már nem üthető ki. Leüthető viszont az a bábu is, amelyik a színes startmezőn áll.

    A játékos taktikai lehetőségei arra szorítkoznak, hogy mikor melyik bábuval lép, illetve 6-os dobás esetén játékba hozza-e egy bábuját.
</article>
<br />
<h6>forrás: Wikipedia</h6>
