
@{
    ViewBag.Title = "ProfileSearchResult";
}

<br />
<h4>Adatlap</h4>
<br />
<div>
    <table>
        <tr>
            <td>Username:</td>
            <td>@TempData["AccessedUsername"]</td>
        </tr>
        <tr>
            <td>E-mail address:</td>
            <td>@TempData["AccessedEmailID"]</td>
        </tr>
    </table>
    <br />
</div>
