
@{
    ViewBag.Title = "ProfileSearchResult";
}

@if (Session["AccessedUsername"] != null)
{
    <br />
    <div class="pull-left">
        <h4>Adatlap</h4>
        <br />
        <table>
            <tr>
                <td>Username:</td>
                <td>@Session["AccessedUsername"]</td>
            </tr>
            <tr>
                <td>E-mail address:</td>
                <td>@Session["AccessedEmailID"]</td>
            </tr>
        </table>
        <br />
    </div>

    //Session["AccessedFriendState"]
    //Session["AccessedFriendedYou"]
    //Session["AccessedFriendedMe"]
    // ha egyikünk sem barátja a másiknak
    if (Session["AccessedFriendedYou"].ToString() == "false" && Session["AccessedFriendedMe"].ToString() == "false")
    {
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#Friend").click(function () {
                    $.ajax({
                    url: "/Friend/Friending",
                        type: "GET",
                    error: function (response) {
                            alert(response);
                        },
                    success: function (response) {
                            alert(response);
                        }
                    });
                });
            })
        </script>
        <div class="form-group pull-right">
            <div class="col-sm-12 col-xs-12" style="min-width:200px;">
                <button id="Friend" class="btn btn-success btn-block">Friend</button>
            </div>
        </div>

    }
    else
    {
        // ha én barátnak jelöltelek, mindegy, hogy elfogadtad-e, unfriendelhetlek
        if (Session["AccessedFriendedYou"].ToString() == "true")
        {
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script type="text/javascript">
            $(function () {
                $("#Unfriend").click(function () {
                    $.ajax({
                    url: "/Friend/Unfriending",
                        type: "GET",
                    error: function (response) {
                            alert(response);
                        },
                    success: function (response) {
                            alert(response);
                        }
                    });
                });
            })
            </script>
            <div class="form-group pull-right">
                <div class="col-sm-12 col-xs-12" style="min-width:200px; color: red">
                <button id="Unfriend" class="btn btn-warning btn-block">Unfriend</button>
                </div>
            </div>
        }
        // barátnak jelöltél, de még nem jelöltelek vissza
        else /*if ((string)Session["AccessedFriendedYou"] == "false" && (string)Session["AccessedFriendedMe"] == "true")*/
        {
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script type="text/javascript">
            $(function () {
                $("#FriendAccept").click(function () {
                    $.ajax({
                    url: "/Friend/FriendAccepting",
                        type: "GET",
                    error: function (response) {
                            alert(response);
                        },
                    success: function (response) {
                            alert(response);
                        }
                    });
                });
            })
            </script>
            <div class="form-group pull-right">
                <div class="col-sm-12 col-xs-12" style="min-width:200px; color: red">
                    <button id="FriendAccept" class="btn btn-success btn-block">Friend back</button>
                </div>
            </div>
        }
    }

}

<div class="clearfix"></div>

