
@{
    ViewBag.Title = "ProfileSearchResult";
}

@if (Session["AccessedUsername"] != null)
{
    <br />
    <div class="pull-left">
        <h4>Adatlap</h4>
        <br />
        <table>
            <tr>
                <td>Username:</td>
                <td>@Session["AccessedUsername"]</td>
            </tr>
            <tr>
                <td>E-mail address:</td>
                <td>@Session["AccessedEmailID"]</td>
            </tr>
        </table>
        <br />
    </div>


    if ((string)Session["AccessedFriendState"] == "false")
    {

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#Friend").click(function () {
                    $.ajax({
                        url: "/Friend/Friending",
                        type: "GET",
                    error: function (response) {
                            alert(response);
                    },
                    success: function (response) {
                        alert(response);
                    }
                });
                });
            })
        </script>
                <div class="form-group pull-right">
                    <div class="col-sm-12 col-xs-12" style="min-width:200px;">
                        <button id="Friend" class="btn btn-success btn-block">Friend</button> 
                        @*<input type="submit" value="Friend" class="btn btn-success btn-block" onclick='this.disabled = "disabled";' />*@
                    </div>
                </div>

        }
        else
        {
            using (Html.BeginForm("Friending", "Friend", FormMethod.Post))
            {
            <div class="form-group pull-right">
                <div class="col-sm-12 col-xs-12" style="min-width:200px; color: red">
                    <input type="submit" value="Unfriend" class="btn btn-warning btn-block" onclick='this.disabled = "disabled";' />
                </div>
            </div>
            }
        }

    <div class="clearfix"></div>
}
