@model pageLudo.Models.LoginUser

@{
    ViewBag.Title = "AfterLogin";
}

@if (Session["LogedUsername"] != null)
{
    <text>
<br />
        <h4>Welcome @Session["LogedUsername"].ToString()</h4>
    </text>
    <br />
    <p>Online játékosok száma: <h2 style="color:green">@TempData["onlineUsers"]</h2></p>
}