@model pageLudo.Models.LoginUser

@{
    ViewBag.Title = "AfterLogin";
}

@{
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}

<h2>AfterLogin</h2>

@if (Session["LogedUsername"] != null)
{
    <text>
        Welcome @Session["LogedUsername"].ToString()
    </text>
}