@{
    ViewBag.Title = "MyProfile";
}

@if (Session["LogedUsername"] != null)
{
    <br />
    <h4>Adatlap</h4>
    <br />
    <div>
        <table>
            <tr>
                <td>Username:</td>
                <td>@Session["LogedUsername"].ToString()</td>
            </tr>
            <tr>
                <td>E-mail address:</td>
                <td>@Session["LogedEmailID"].ToString()</td>
            </tr>
        </table>
        <br />
    </div>
    <br />
    <h4>Statisztika</h4>


        <!-- Adott játékosnak minden játéktípusban(Ludóban) winrate -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript">
            // Load the Visualization API and the piechart package.
            google.charts.load('current', { packages: ['corechart'] });

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawChart() {

                var list = new[]
                {
                    new {Name = "Dogs", Count = 5},
                    new {Name = "Cats", Count = 2}
                };

                //Adott játékosnak minden játéktípusban(Ludóban) winrate (elég a win%-ot visszaadni sztem max 2 tizedesjegyig)
                var data = list.ToGoogleDataTable()
                               .NewColumn(new Column(ColumnType.String, "Name"), x => x.Name)
                               .NewColumn(new Column(ColumnType.Number, "Count"), x => x.Count)
                               .Build()
                               .GetJson();

                var view = new google.visualization.DataView(data);

                var options = {
                    title: "Győzelem-vereség aránya",
                    isStacked: 'percent',
                    //width: 900,
                    //height: 150,
                    bar: { groupWidth: "95%" },
                    legend: { position: "none" },
                    backgroundColor: { fill: 'transparent' }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);


            //Adott játékos adott játéktípusban adott játéktípushoz tartozó színekkel milyen arányban nyert

        }
        </script>
        <div>
            <div id = "barchart_values" style = "width: 500px; height: 200px; float:left;" ></div >


               <div id = "mood_chart" style = "width: 500px; height: 200px; float:left;" ></div >


              </div >


              <div class="clearfix"></div>
}


