@{
    ViewBag.Title = "MyProfile";
}

@if (Session["LogedUsername"] != null)
{ 
    <br />
    <h4>Adatlap</h4>
    <br />
    <div>
        <table>
            <tr>
                <td>Username:</td>
                <td>@Session["LogedUsername"].ToString()</td>
            </tr>
            <tr>
                <td>E-mail address:</td>
                <td>@Session["LogedEmailID"].ToString()</td>
            </tr>
        </table>
        <br />
    </div>
    <br />
    <h4>Statisztika</h4>


    <!-- Here We need to write some js code for load google chart with database data -->
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
                var chartData; // globar variable for hold chart data
                google.load("visualization", "1", { packages: ["corechart"] });

                // Here We will fill chartData

                $(document).ready(function () {

                    $.ajax({
                        url: "Statistics.aspx/GameWinRateGetChartData",
                        data: "",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; chartset=utf-8",
                        success: function (data) {
                            chartData = data.d;
                        },
                        error: function () {
                            alert("Error loading data! Please try again.");
                        }
                    }).done(function () {
                        // after complete loading data
                        google.setOnLoadCallback(drawChart);
                        drawChart();
                    });
                });


                function drawChart() {
                    var data = google.visualization.arrayToDataTable(chartData);

                    var options = {
                        title: "Company Revenue",
                        pointSize: 5
                    };

                    var barChart = new google.visualization.BarChart(document.getElementById('barchart_values'));
                    barChart.draw(data, options);

                }

    </script>
        <div>
            <div id="barchart_values" style="width: 500px; height: 200px; float:left;"></div>
        </div>
        <div class="clearfix"></div>
}


